<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84938395481-873d2oq78nvjvib7h4mhmvbgobaf6fdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84938395481-873d2oq78nvjvib7h4mhmvbgobaf6fdo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84938395481-1l47du89a0lucn0sik16aolkujv8mt6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFa5I4DGyLaUm3I5t65r1uSBRA91qSoiw</string>
	<key>GCM_SENDER_ID</key>
	<string>84938395481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellappdev.scoop</string>
	<key>PROJECT_ID</key>
	<string>rideshare-37922</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-37922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:84938395481:ios:c46c87829166dc59a70648</string>
</dict>
</plist>
